.footer {
    background-color: #E6D8C3;
    padding: 1.5rem;
    text-align: center;
    margin-top: auto;
}

.copyright {
    color: #5D866C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}